[submodule ".local/share/themes/gruvbox"]
	path = .local/share/themes/gruvbox
	url = https://github.com/bennetthardwick/gruvbox-gtk
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule ".config/neomutt/scripts/mutt-ical"]
	path = .config/neomutt/scripts/mutt-ical
	url = https://github.com/asciiphil/mutt-ical
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets
[submodule ".config/qutebrowser/plugin/jmatrix"]
	path = .config/qutebrowser/plugin/jmatrix
	url = https://gitlab.com/jgkamat/jmatrix
[submodule ".config/qutebrowser/plugin/jblock"]
	path = .config/qutebrowser/plugin/jblock
	url = https://gitlab.com/jgkamat/jblock
