# Configure my Logitech mouse
# Swith buttons 2 and 8 because button 2 doesn't work.
for id in $(xinput list | grep "Logitech Gaming Mouse G402" | head -n 2 | sed -r 's/.*id=([0-9]+).*/\1/')
do
  xinput --set-button-map $id 1 8 3 4 5 6 7 2 9 10
done
