[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=WebBrowser
Exec=~/.bin/browser-chooser
Name=Browser chooser
GenericName=Web Browser
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
