[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=Qt;Network;WebBrowser
Exec=env PINENTRY_USER_DATA=gtk qutebrowser
Name=Qutebrowser
GenericName=Web Browser
