[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=Qt;Network;WebBrowser
Exec=env PINENTRY_USER_DATA=gtk qutebrowser --set "session.default_name" "work" --basedir ".qutebrowser-work" --restore "work" --enable-webengine-inspector
Name=Qutebrowser (work)
GenericName=Web Browser
